@CHARSET "UTF-8";

@import url("reset.css");

@import "demo_page.css";
@import "site_jui.css";

@import url("http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css");
@import url("http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables_themeroller.css");
@import "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.7/themes/smoothness/jquery-ui.css";

#other_example_links{
	margin-top: 2em;
}

.example-table-wrapper{
	margin: 2em auto;
}

#footer{
	text-align: center;
}